<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragos.screenit.app" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="19" />

        <activity
            android:name="com.dragos.screenit.app.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="userPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dragos.androidfilepicker.library.ImagePickerActivity" />
        <activity
            android:name="com.dragos.screenit.app.activities.TutorialActivity"
            android:theme="@style/TutorialTheme" >
        </activity>
        <activity
            android:name="com.dragos.screenit.app.activities.SlideshowActivity"
            android:parentActivityName="com.dragos.screenit.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.dragos.screenit.app.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
